Chameleon==2.11
Django==1.5.1
Mako==0.8.1
PasteDeploy==1.5.0
WebOb==1.2.3
beautifulsoup4==4.2.1
bottle==0.11.6
distribute==0.7.3
docutils==0.10
pymongo==2.5.2
pyramid==1.4.2
repoze.lru==0.6
translationstring==1.1
venusian==1.0a8
wsgiref==0.1.2
zope.deprecation==4.0.2
zope.interface==4.0.5
